h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}
.home-back{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
    font-size: 2rem;
}
button{
    color:black;
    font-size: 1.7rem;
    background-color: bisque;
    border-radius: 7px;
    /* size:2rem; */
}
.border{
    border:2px solid transparent;
}
.border:hover{
    scale: 90%;
}
.Content{
    margin-top: 190px;
}